:root {
    --border-style: gray 1px solid;
    --margin-small: 0.2em;
    --margin-big: 2em;
}

nav span {
    margin-left: var(--margin-small);
    margin-right: var(--margin-small);
}

#content {
    margin-left: var(--margin-big);
    margin-right: var(--margin-big);
}

#content > * {
    margin-top: var(--margin-small);
}

#entity-editor {
    margin-top: var(--margin-big);
    display: grid;
    grid-template: 1fr /1fr 5fr 1fr 1fr;
    align-items: center;
    gap: var(--margin-small);
}

#entity-editor > * {
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

#entity-editor {
    margin-top: var(--margin-small);
    margin-bottom: var(--margin-small);
}

#entity-list > .entity-list-element {
    display: grid;
    grid-template: 1fr /11fr 1fr;
    border-top: var(--border-style);
    border-left: var(--border-style);
    border-right: var(--border-style);
    align-items: center;
}

#entity-list > .entity-list-element:last-child {
    border-bottom: var(--border-style);
}

#entity-list > .entity-list-element > * {
    margin: var(--margin-small);

}

.alert {
    margin-top: var(--margin-small);
}
